<!DOCTYPE html>
<html>
<head>
    <title>Comment Analysis</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Adding Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        #loading {
            display: none;
        }
        .card {
            margin: 20px auto;
            padding: 20px;
            max-width: 600px;
        }
        #results p {
            margin-bottom: 0.5rem;
        }
    </style>
</head>
<body>
<div class="container my-3">
    <h1 class="text-center">COMMENT ANALYZER</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/history">Database</a>
            </li>
        </ul>
    </nav>
</div>
<div class="container">
    <div class="card">
        <form id="analysisForm">
            <div class="form-group">
                <textarea class="form-control" id="textInput" name="text" placeholder="Enter your comment here" required></textarea>
            </div>
            <button class="btn btn-primary" id="analyzeButton" type="submit">Analyze</button>
        </form>
        <div id="loading">Analyzing...</div>
    </div>
    <div class="card" id="results"></div>
</div>

<script>
    $("#analysisForm").submit(function(event) {
        event.preventDefault();
        $("#loading").show();
        $("#results").empty();
        $("#analyzeButton").prop("disabled", true);

        $.ajax({
            url: '/analyze',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify($("#textInput").val()),
            success: function(data) {
                $("#loading").hide();
                $("#results").append("<h2 class='card-header'>Key Phrases</h2>");
                $.each(data, function(i, phrase) {
                    $("#results").append("<p class='card-body'>" + phrase + "</p>");
                });
                $("#analyzeButton").prop("disabled", false);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                $("#loading").hide();
                alert("An error occurred: " + textStatus);
                $("#analyzeButton").prop("disabled", false);
            }
        });
    });
</script>
</body>
</html>
